{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

    <style>
        .required { color: red; }
    </style>

    <h1 class="title">Welcome to Live Chat!</h1>
    <span id="errorMessage" class="required"></span>
    <form id="login-form">
        <div class="field">
            <div class="control">
                <label for="name" class="label">Username <span class="required">*</span></label>
                <input class="input" id="name" type="text" placeholder="Name" required minlength="3" maxlength="20">
            </div>  
        </div>
        <div class="field">
            <div class="control">
                <label for="rcode" class="label">Room Code <span class="required">*</span> <span title="The code for the room you wish to join" style="cursor: pointer">❓</span></label>
                <input class="input" id="rcode" type="text" placeholder="Room Code" required maxlength="9" minlength="6">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label for="color" class="label">Pick your color!</label>
                <input class="input is-large" id="color" type="color" required value="#919191">
            </div>
        </div>
        <div class="control">
            <button class="button is-primary is-fullwidth" id="loginButton">Login!</button>
        </div>
    </form>

    <script>
        document.getElementById("login-form").addEventListener("submit", (e) => {
            e.preventDefault()

            const name = document.getElementById("name").value
            const rcode = document.getElementById("rcode").value
            const color = document.getElementById("color").value

            document.getElementById("name").value = ""
            document.getElementById("rcode").value = ""

            let valid = true

            const isAlpha = (chr) => {
                return /[a-zA-Z]/.test(chr)
            }

            for (let char of rcode) {
                if (!isAlpha(char)) {
                    valid = false
                    break   
                }
            }

            if (!valid) {
                document.getElementById("errorMessage").innerText = "Invalid room code. Code should be all letters!"
                return
            }

            document.getElementById("loginButton").classList.add("is-loading")

            localStorage.setItem("livechat-name", name)
            localStorage.setItem("livechat-rcode", rcode)
            localStorage.setItem('livechat-color', color)

            setTimeout(() => {
                document.getElementById("loginButton").classList.remove("is-loading")
                window.location.href = "{{ url_for('chat') }}"
            }, 2000)
        })
    </script>
{% endblock %}