{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

    <style>
        .required { color: red; }
    </style>

    <h1 class="title">Welcome to Live Chat!</h1>
    
    <form>
        <div class="field">
            <div class="control">
                <label for="name" class="label">Username <span class="required">*</span></label>
                <input class="input" type="text" placeholder="Name" required>
            </div>  
        </div>
        <div class="field">
            <div class="control">
                <label for="pword" class="label">Password <span class="required">*</span></label>
                <input class="input" type="password" placeholder="Password" required>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label for="rcode" class="label">Room Code <span class="required">*</span> <span title="The code for the room you wish to join" style="cursor: pointer">❓</span></label>
                <input class="input" type="text" placeholder="Room Code" required>
            </div>
        </div>
        <div class="control">
            <button class="button is-primary is-fullwidth">Login!</button>
        </div>
    </form>
{% endblock %}